<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="./game.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body style="background-color: #9c835f">
    <div class="navbar">
      <div class="navbar-left">
        <div class="navbar-arrow">
          <a href="/">
            <img src="/img/asset-ch4/_.png" alt="" />
          </a>
        </div>
        <div class="navbar-logo">
          <a href="/">
            <img src="/img/asset-ch4/logo 1.png" alt="" />
          </a>
        </div>
        <div class="navbar-text">
          <a href="/"
            ><img src="/img/asset-ch4/ROCK PAPER SCISSORS.png" alt=""
          /></a>
        </div>
      </div>
      <div>
        <!--bagian kanan-->
      </div>
    </div>

    <div class="container">
      <div class="item">
        <img src="/img/asset-ch4/PLAYER 1.png" alt="" />
      </div>
      <div class="item"></div>
      <div class="item">
        <img src="/img/asset-ch4/COM.png" alt="" />
      </div>
      <!-- bagian 1 -->
      <div class="item" id="batu">
        <img class="item-img" src="/img/asset-ch4/batu.png" alt="" />
      </div>
      <div class="item"></div>
      <div class="item" id="batuCom">
        <img class="item-img" src="/img/asset-ch4/batu.png" alt="" />
      </div>
      <!-- bagian 2 -->
      <div class="item" id="kertas">
        <img class="item-img" src="/img/asset-ch4/kertas.png" alt="" />
      </div>
      <div class="item" id="pembungkusVs">
        <div id="versus">VS</div>
        <div id="playerWin">PLAYER 1 WIN</div>
        <div id="comWin">COM WIN</div>
        <div id="draw">DRAW</div>
      </div>
      <div class="item" id="kertasCom">
        <img class="item-img" src="/img/asset-ch4/kertas.png" alt="" />
      </div>
      <!-- bagian 3 -->
      <div class="item" id="gunting">
        <img class="item-img" src="/img/asset-ch4/gunting.png" alt="" />
      </div>
      <div class="item"></div>
      <div class="item" id="guntingCom">
        <img class="item-img" src="/img/asset-ch4/gunting.png" alt="" />
      </div>
    </div>

    <!-- footer -->

    <div style="font-size: 70px" id="footer">
      <button
        style="background-color: #9c835f"
        class="fa fa-refresh"
        type="button"
        value=""
        onClick="window.location.reload()"
      ></button>
    </div>

    <script src="./game.js"></script>
  </body>
</html>
