<!DOCTYPE html> <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chalenge 3</title>
    <link rel="stylesheet" href="../index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</head>

<body>
  <!-- ini bagian pertama -->
<div class="halaman-pertama">
  <div class="navbar">
    <div class="logo">logo</div>
    <div class="menu-nav">
      <div>HOME</div>
      <div>WORK</div>
      <div>CONTACT</div>
      <div>ABOUT US</div></div>
    <div class="register">
      <div>SIGN UP</div>
      <div>LOG IN</div></div>
  </div>
  
  <div class="content">
    <h1 class="display-3" >PLAYING TRADITIONAL GAME</h1>
    <p class="lead">Experience new traditional game play</p>
    <div class="content">
     <button onclick="window.location.href='/game'" type="button"  class="btn btn-warning">Play Me</button>
    </div>


  <div class=" footer-pertama">
    <div>THE STORY</div>
    <div><img src="./img/scroll-down.svg" alt=""></div>
  </div>
        
</div>
</div>

<!-- ini bagian kedua -->
<div class="halaman-kedua">
    <div class="box">
        <div style="margin-top: 11%; color:white;">
            <div class="box-1">What's so special?</div>
            <div class="box-2">THE GAMES</div>
        </div>
        <div style="width: 50%; height:50%; margin-top: 15%; margin-right: 8%;">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="./img/blankimage.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
         
            
    </div>
</div>

<!-- ini bagian ketiga -->
<div class="halaman-ketiga">
  <div>
    <div class="row">
      <div class="col-12 col-sm3 col-md-7">
        <div></div>
      </div>
      <div class="col-12 col-sm-9 col-md-5">
        <div>
          <div class="row" id="row-1">
            <h3>What's so special?</h3>
            <h3>FEATURES</h3>
          </div class="row" style="margin-right;40% color:white;">
              <div>
                <div class="garis-vertikal"></div>
                <div class="d-flex align-items-center">
                  <img src="./img/ellipse.svg" alt="ellipse">
                </div>
                <h3 style="color:orange; margin-left:30px;">TRADITIONAL GAMES</h3>
                <p style="margin-left: 30px;">if you miss your childhood, we provide many traditional games here</p>
              </div>
          <div>
            <br>
            <div class="d-flex align-items-center">
              <img src="./img/ellipse-outline.svg" alt="ellipse2" class="mr-3">
              <div>
                <h3 >GAME SUIT</h3> 
              </div>
          </div>
          

          </div>
        </div>

      </div>
    </div>
  </div>
    

     

</div>

<!-- ini bagian keempat -->
<div class="halaman-keempat">
  <div>
    <div class="row">
      <div class="col">
        <h5 class="text-center">Can My Computer Run This Game?</h5>
      </div>

      <div class="row row-cols-md-2 row-cols-sm-1">
        <div class="col">
          <h1 id="h1">SYSTEM REQUIREMENTS</h1>
        </div>
      
    </div>

    <div class="row row row-cols-md-2 row-cols-sm-1">
      <div class="col">
        <table class="tablePage4">
          <tr>
            <td class="tdPage4">
              <p class= "textUpPage4";>OS:</p>
              <p class="textUnderPage4">Windows 7 64-bit only (No OSX Support at this time)</p>
            </td>
            <td class="tdPage4">
              <p class="textUpPage4">PROCESSOR:</p>
              <p class="textUnderPage4">Intel Core Duo 2 @ 2,4 GHZ or AMD Athion X2 @ 2,8 GHZ</p>
            </td>
          </tr>
          <tr>
            <td class="tdPage4">
              <p class="textUpPage4">MEMORY:</p>
              <p class="textUnderPage4" style="padding-bottom: 20px;">4GB RAM</p>
            </td>
            <td class="tdPage4">
              <p class="textUpPage4">STORAGE:</p>
              <p class="textUnderPage4" style="padding-bottom: 20px;">8GB Available Space</p>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="tdPage4">
              <p class="textUpPage4">GRAPHICS:</p>
              <p class="textUnderPage4">NVIDIA GeForce GTX 660 2GB or AMD Radeo HD 785D 2GB DirextX11 (Shader Model 5)</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="col">
      </div>
    </div>
    </div>
  </div>
</div>

<!-- ini halaman kelima -->
<div class="halaman-kelima">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="tekshalaman-1">TOP SCORES</h1>
        <p class="tekshalaman-2">This top score from various provided pn this platform</p>
        <button type="button" class="btn btn-warning">See More</button>
      </div>
      <div class="col-md-6">
<!--------------------- -->
        <div class="row" style="margin-left: 15%; margin-top:10%;">
          <div class="card mb-3 text-bg-dark" style="max-width: 500px">
            <div class="row g-0">
              <div class="col-4 col-sm-4 col-md-4">
                <div class="text-center">
                  <img src="./img/evan-lahti.jpg" class="img-thumbnail w-75" style="margin-top: 20%;" alt="evan-lahti">
                </div>
              </div>
              <div class="col-8 col-sm-8 col-md-8">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                  <h5 class="card-title mb-0 text-warning fw-bold">Evan Lathi</h5>
                  <img src="./img/twitter.svg" alt="twitter">
                </div>
                  <p class="card-text mt-0 text-secondary fw-bold">PC Gamers</p>
                  <p class="card-text mb-0">"One of my gaming highlights of the year"</p>
                  <p class="card-text mt-0"><small class="text-muted">june 18,2021</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-------------------------->
        <div class="row">
          <div class="card mb-3 text-bg-dark" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-4 col-sm-4 col-md-4">
                <div class="text-center">
                  <img src="./img/jada-griffin.jpg" class="img-thumbnail w-75" style="margin-top: 20%;" alt="jada-griffin">
                </div>
              </div>
              <div class="col-8 col-sm-8 col-md-8">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title mb-0 text-warning fw-bold">Jada Griffin</h5>
                    <img src="./img/twitter.svg" alt="twitter">
                  </div>
                  <p class="card-text mt-0 text-secondary fw-bold">Nerdreactor</p>
                  <p class="card-text mb-0">"The next big thing in the world of streaming and survival games"</p>
                  <p class="card-text mt-0"><small class="text-muted">July 10,2021</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
<!------------------->
        <div class="row" style="margin-left: 5%;">
          <div class="card mb-3 text-bg-dark" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-4 col-sm-4 col-md-4">
                <div class="text-center">
                  <img src="./img/aaron-williams.jpg" class="img-thumbnail w-75" style="margin-top: 20%;" alt="aaron-williams">
                </div>
              </div>
              <div class="col-8 col-sm-8 col-md-8">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title mb-0 text-warning fw-bold">Aaron Wiliams</h5>
                    <img src="./img/twitter.svg" alt="twitter">
                  </div>
                  <p class="card-text mt-0 text-secondary fw-bold">Uproxx</p>
                  <p class="card-text mb-0">"Snoop Dogg Playing The Wildly Entertaining "SOS" Is Ridiculous"</p>
                  <p class="card-text mt-0"><small class="text-muted">December 24,2018</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- ini bagian keenam -->
<div class="halaman-keenam" >
  <div class="container">
    <div class="row">
<!-- content left Page 6 -->
      <div class="col-1 col-sm-1 col-md-6 d-flex align-items-center" id="left">
        <img src="./img/skull.png" alt="skull" class="imgSkull mx-auto " >
      </div>
<!-- content right page 6 -->
      <div class="col-11 col-sm-11 col-md-6" id="right">
        <div class="text-light" style="margin-top: 15%;">
          <h3 class="h3Page6">Want to stay in touch?</h3>
          <h1 class="text-warning col-sm-2" id="h1Page6" >NEWSLETTER SUBSCRIBE</h1>
          <P class="pFooterPage6">In order to start receiving our news, all you have to do is enter your email adress. Everything else will be taken care of bt us. We will send you emails containing information about game. We don't spam. </P>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="your email adress" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text"  id="basic-addon2">@binar.co.id</span>
            <button style="margin-right: 30%;" type="button" class="btn btn-outline-primary">Subscribe Now</button>
          </div>
        </div>
      </div>
<!-- footer page 6 -->
    <div class="row" id="footerPage6" >
<!-- footer up page 6 -->
      <div class="col-12 col-sm-12 col-md-12" id="footerUpPage6" >
        <div class="container d-flex justify-content-end">
          <div class="footbarMenuPage6">
            <a class="upFooter" href="#" >MAIN</a>
            <a class="upFooter" href="#">ABOUT</a>
            <a class="upFooter" href="#">GAME FEATURES</a>
            <a class="upFooter" href="#">SYSTEM REQUIREMENTS</a>
            <a class="upFooter" href="#">QUOTES</a>
          </div>
          <div class="menuSocialImage">
            <img class="socialImage" src="./img/facebook.svg" alt="facebook">
            <img class="socialImage" src="./img/twitter.svg" alt="twitter">
            <img class="socialImage" src="./img/vector.svg" alt="youtube">
            <img class="socialImage" src="./img/twitch.svg" alt="twitch">
          </div>
        </div>
<!-- footer line -->
        <hr style="background-color: white; height: 1.5px;">
<!-- footer bottom page 6 -->
        <div class="d-flex justify-content-between">
          <span class="copyRightPage6" style="color: rgb(73, 71, 71);">&copy;2018 Your Games, Inc. All Right Reserved</span>
          <div class="footbarMenuPage6 d-flex">
            <a class="bottomFooter" href="#">PRIVACY POLICY</a>
            <p class="bottomFooter">|</p>
            <a class="bottomFooter" href="#">TERMS OF SERVICES</a>
            <p class="bottomFooter">|</p>
            <a class="bottomFooter" href="#">CODE OF CONDUCT</a>
          </div>
      </div>
      </div>   
    </div>
    </div>
  </div>

  

</div>









</body>
</html>