body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  padding: 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left > * {
  padding-left: 10px;
}

.navbar-arrow a {
  text-decoration: none;
  color: inherit;
  padding-left: 10px;
}

.navbar-arrow:hover {
  color: white;
  cursor: pointer;
}

.navbar img {
  width: 50%;
}

.container {
  width: 400px;
  margin: 30px auto;
  display: grid;

  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 70px 210px 210px 210px;
  justify-content: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-img {
  width: 25%;
}

#versus {
  text-align: center;
  color: #bd0000;
  font-size: 70px;
  font-weight: 700;
}

#playerWin {
  text-align: center;
  background-color: green;
  color: white;
  font-size: 60px;
  font-weight: 500;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-deg);
}

#comWin {
  text-align: center;
  background-color: green;

  color: white;
  font-size: 70px;
  font-weight: 500;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-deg);
}

#draw {
  text-align: center;
  background-color: rgb(9, 88, 9);
  color: white;
  font-size: 60px;
  font-weight: 700;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-deg);
}

#footer {
  justify-content: center;
  display: flex;
}

.footer:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
