body {
  margin: 0px;
  padding: 0px;
}

.halaman-pertama {
  height: 100vh;
  font-family: sans-serif;
  background-image: url(./img/main-bg.jpg);
  background-attachment: scroll;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  font-size: 35px;
}

.menu-nav {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  font-size: 10px;
}

.register {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  font-size: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 150px;
  padding: 20px;
  color: white;
}

.lead {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 20px;
}

.footer-pertama {
  margin-top: 25vh;
  color: white;
  font-size: 10px;
  border: 1px solid black;
}

.halaman-kedua {
  height: 100vh;
  background-image: url(./img/the-games-bg.jpg);
  background-attachment: scroll;
  background-size: 100% 100%;
}

.box {
  display: flex;
  justify-content: space-around;
}

.box-1 {
  font-size: 20px;
  letter-spacing: 3px;
}

.box-2 {
  font-size: 60px;
  letter-spacing: 8px;
}

.halaman-ketiga {
  height: 100vh;
  background-image: url(./img/features.jpg);
  background-attachment: scroll;
  background-size: 100% 100%;
  color: white;
}

#row-1 {
  margin-top: 30%;
  color: white;
  padding-bottom: 5%;
}

.garis-vertikal {
  width: 2px;
  height: 13.1%;
  background-color: white;
  position: absolute;
  margin-top: 4%;
  margin-left: 0.45%;
}

.lingkaran {
  padding-right: 10%;
}

.halaman-keempat {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) 50%,
      transparent 30%
    ),
    url(./img/requirements.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.text-center {
  color: white;
  margin-top: 1%;
}

#h1 {
  color: white;
  margin-left: 20%;
  font-size: 350%;
  margin-top: 5%;
}

.tablePage4 {
  border-collapse: collapse;
  background-color: transparent;
  width: 29.7%;
  position: absolute;
  margin-left: 10%;
}

.tdPage4 {
  border: 1px solid grey;
  padding: 10px;
}

.textUpPage4 {
  color: goldenrod;
  font-size: larger;
  margin: 0;
  margin-bottom: 0px;
}

.textUnderPage4 {
  margin: 0;
  margin-top: 0px;
  color: white;
  font-size: smaller;
  padding-bottom: 10px;
}

.halaman-kelima {
  height: 100vh;
  background-image: url(./img/top-score-bg.png);
  background-attachment: scroll;
  background-size: 100% 100%;
}

.tekshalaman-1 {
  color: white;
  margin-top: 50%;
  margin-left: 30%;
}

.tekshalaman-2 {
  color: white;
  margin-left: 30%;
  font-size: smaller;
}

.btn {
  color: white;
  margin-left: 30%;
  margin-top: 10px;
}

.halaman-keenam {
  height: 100vh;
  font-family: sans-serif;
  background-image: url(./img/newsletter.png);

  background-position: center;
}

#footerUpPage6 {
  margin-top: -3%;
}

@media only screen and (max-width: 992px) {
  #footerUpPage6 {
    margin-top: -6%;
  }
}
@media only screen and (max-width: 767px) {
  #footerUpPage6 {
    margin-top: -15%;
  }
}
@media only screen and (max-width: 567px) {
  #footerUpPage6 {
    margin-top: -25%;
  }
}
.imgSkull {
  height: 65%;
}
@media only screen and (max-width: 767px) {
  .imgSkull {
    height: 65%;
    opacity: 20%;
  }
}
.h3Page6 {
  margin-right: 65%;
}
@media only screen and (max-width: 576px) {
  .h3Page6 {
    margin-right: 65%;
    font-size: 150%;
  }
}
@media only screen and (max-width: 352px) {
  .h3Page6 {
    margin-right: 65%;
    font-size: 100%;
    margin-top: 20%;
  }
}

#h1Page6 {
  margin-right: 65%;
  font-size: 350%;
}
@media only screen and (max-width: 767px) {
  #h1Page6 {
    margin-right: 65%;
    font-size: 250%;
  }
}
@media only screen and (max-width: 366px) {
  #h1Page6 {
    margin-right: 65%;
    font-size: 200%;
  }
}

.pFooterPage6 {
  margin-right: 30%;
  text-align: justify;
}
@media only screen and (max-width: 576px) {
  .pFooterPage6 {
    margin-right: 30%;
    text-align: justify;
    font-size: 80%;
  }
}
.footbarMenuPage6 {
  font-size: 70%;
}

.upFooter {
  color: #ffffff;
  text-decoration: none;
  padding-left: 50px;
}
@media only screen and (max-width: 992px) {
  .upFooter {
    padding-left: 10px;
    font-size: 80%;
  }
}

.menuSocialImage {
  padding-left: 50px;
}
@media only screen and (max-width: 992px) {
  .menuSocialImage {
    padding-left: 0px;
  }
}
.socialImage {
  padding-left: 20px;
}
@media only screen and (max-width: 992px) {
  .socialImage {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .socialImage {
    padding-left: 10px;
    width: 20%;
  }
}
.copyRightPage6 {
  color: rgb(73, 71, 71);
}
@media only screen and (max-width: 767px) {
  .copyRightPage6 {
    color: rgb(73, 71, 71);
    font-size: 70%;
  }
}
.bottomFooter {
  color: #ffffff;
  text-decoration: none;
  padding-left: 10px;
}
@media only screen and (max-width: 767px) {
  .bottomFooter {
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
    font-size: 70%;
  }
}
